@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script>

        $(function () {

            $("#allpersons").on('click', GetAllPersons);
            $("#addperson").on('click', AddPerson);
        });

        function GetAllPersons() {

            $.ajax({
                type: "GET",
                url: '/Home/GetAllPersons',
                contentType: "json",
                dataType: "json",
                success: function (result) {
                    result.forEach(function (person, index) {
                        console.log(person.name);
                        $("#persons").append(person.name);
                    });
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert("Error has occured...");
                }
            });
        }

        
        function AddPerson() {

            var person = {
                person: {
                    id: 23,
                    name: "eric brunner",
                    address: "thomas morus gasse",
                    PersonOrders: []
                }
            };

            $.ajax({
                type: "POST",
                url: '/Home/AddPerson',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(person),
                processData: true,
                success: function (result) {
                    alert(result);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert("Error has occured...");
                }
            });
        }


    </script>    
}

<div>
    <input type="button" id="allpersons" value="GetAllPersons" size="5"/>
    <input type="button" id="addperson" value="AddPerson" size="5" />
    <div id="persons"></div>
</div>
